# Root ignores
/.nuget/
/data/
/nupkg/
/sample/

# Specific
/*.txt
/tools/Andalus.Cli/*.cmd
/tools/Andalus.Cli/*.json
/tools/Andalus.Cli/*.txt
/tools/Andalus.Cli/*.xml
/tools/Andalus.Cli/keyvault/

# Global ignores
bin/
obj/
.vs/
*.csproj.user
*.pubxml.user
*.sqlproj.user

# eof
